.main-container {
  width: 100%;
  min-height: calc(100% - 110px);
  background: #F9FBFB;
  height:"auto";
  flex-grow:"1";
  padding: 8px;
  // display: flex;
}

// .conteiner{
//   height: 100%;
// }
