<div class="row">
  <div class="col" *ngFor="let item of arrayDadosDetalhados()">
    <!-- <img class="img" height="100px" [src]="urlFoto"> -->
    <mat-card class="card">
      <mat-card-content class="card-content">
        <span>{{item.albumId}}</span>
        <span>{{item.id}}</span>
      </mat-card-content>
    </mat-card>
<!-- <app-album-detalhado></app-album-detalhado> routerLink="albumDetalhado"-->
    <!-- <div *ngFor="let teste of item.dados">
      <span>{{teste.id}}</span>

    </div> -->
  </div>
</div>
