<div>
  <span routerLink="principal">Voltar</span>
  <div class="row g-0">
    <div class="col">
      <mat-form-field appearance="outline" class="form-pesquisa" mat-elevation-z5 [style.--mdc-outlined-text-field-outline-color]="corBorda" [style.--mdc-outlined-text-field-focus-outline-color]="corBorda">
        <input
          [(ngModel)]="textoInput"
          matInput class="input-pesquisa"
          placeholder="filtrar"
          (keyup)="atualizaTextoParaFiltro()"
          style="font-family: Futura Bk BT; font-size: 16px; font-weight: 400; line-height: 22px; letter-spacing: 0em; color: #3a4859 !important;">
          <button *ngIf="textoInput" matSuffix mat-icon-button aria-label="Clear" (click)="limparInput()" class="btn-limpar">
            <mat-icon class="limpar">close</mat-icon>
          </button>
        </mat-form-field>
    </div>
    <div class="col">
      <button (click)="alteraOrdenacaoDadosArray()">ordenar</button>
    </div>
  </div>
  <div class="row g-0">
    <div class="col" *ngFor="let item of arrayDadosDetalhadosPaginado()">
      <!-- <img class="img" height="100px" [src]="urlFoto"> -->
      <mat-card class="card">
        <mat-card-content class="card-content">
          <span>{{item.albumId}}</span>
          <span>{{item.id}}</span>
          <span>{{item.title}}</span>
          <img [src]="item.thumbnailUrl"/>
        </mat-card-content>
      </mat-card>
  <!-- <app-album-detalhado></app-album-detalhado> routerLink="albumDetalhado"-->
      <!-- <div *ngFor="let teste of item.dados">
        <span>{{teste.id}}</span>

      </div> -->
    </div>
    <span (click)="avancaPaginacao()">avança</span>
    <span (click)="retornaPaginacao()">retorna</span>
  </div>
</div>
