.div-numero {
  margin-top: 6px;
}

.numero-album {
  font-family: "Caixa Sm Bd";
  font-size: 20px;
  color: #005ca9;
}

.img-triangulo {
  width: 20px;
  height: 20px;
  vertical-align: text-top;
}

.limpar{
  padding: 0;
}

.card{
  border: 2px solid #0077DB;
  border-radius: 10px;
  margin: 6px;
  max-width: 160px;
  height: 260px;
  background-color: #ffffff;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin: auto;
}

.numero-id {
  margin: 6px 0;
  font-family: 'Caixa Bd';
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #004075;
}

.titulo {
  font-family: 'Caixa Regular';
  font-size: 12px;
  text-align: justify;
  word-break: break-all;
  padding: 0;
  color: #3a4859;
}

.div-form {
  border: 2px solid #AFCACF;
  padding: 6px 10px;
  margin: 10px 0;
  background-color: #f6f9f9;
  border-radius: 10px;
}

.conteiner-albuns {
  border: 2px solid #AFCACF;
  padding: 6px 6px;
  background-color: #f6f9f9;
  border-radius: 10px;
}

.btn_primary{
  background-color: #F59200!important;
  color: #FFF!important;
  font-family: 'Caixa Sm Bd';
  font-size: 16;
  letter-spacing: normal;
  height: 40px;
  vertical-align: bottom;
  margin-right: 10px;
}

.btn_primary:hover{
  background-color: #F59200!important;
  font-family: 'Caixa Sm Bd';
  font-size: 16;
  letter-spacing: normal;
}

.icone-voltar {
  font-size: 14px;
  width: auto;
  height: auto;
  vertical-align: middle;
  color: #262f3b;
  margin-left: 4px;
}

.botao-voltar {
  font-family: "Caixa Regular";
  font-size: 14px;
  color: #262f3b;
  cursor: pointer;
}

.botao-voltar:hover {
  text-decoration: underline;
}

.icone {
  color: #262f3b;
  font-size: 34px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.texto-paginacao {
  font-family: 'Caixa regular';
  font-size: 13px;
  color: #3a4859;
}

.col-form {
  text-align: end;
}

.form-pesquisa input::placeholder {
  color: #8fb5bc;
}

.form-pesquisa:hover input::placeholder {
  color: #3a4859;
}

.form-pesquisa:focus input::placeholder {
  color: #3a4859;
}

@media screen and (max-width: 705px) {
  .col-numero {
    flex: 0 0 auto;
    width: auto;
  }
}

@media screen and (max-width: 660px) {

  .col-form {
    flex: 0 0 auto;
    width: auto;
    text-align: center;
  }

}

@media screen and (max-width: 532px) {

  .btn_primary {
    margin: 10px 0
  }
}

::ng-deep {

  .form-pesquisa .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 9px;
  }

  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple{
    border-radius: 0px;
  }

  .form-pesquisa .mat-mdc-text-field-wrapper {
    height: 40px !important;
    width: 350px !important;
    border-radius: 4px;
  }

  .form-pesquisa .mdc-text-field--outlined {
    --mdc-outlined-text-field-focus-outline-width: 1px
  }

  .btn-limpar.mat-mdc-icon-button.mat-mdc-button-base {
    padding-top: 0px;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

}










