.conteiner {
  min-height: 84vh;
}

.col-album {
  background-color: #f6f9f9;
  padding: 24px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 3px solid #005ca9;
  border-radius: 100px 10px 100px 10px;
  height: 320px;
  margin: -100px 0 0 196px;
}

.div-conteiner-album {
  max-width: 700px;
  margin: auto;
  padding-top: 40px;
}

.div-titulo{
  margin-bottom: 30px;
}

.titulo {
  font-family: 'Caixa Sm BD';
  font-size: 20px;
  color: #3a4859;
}

.col-card-informacao {
  padding: 14px;
}

@media (max-width: 1150px) {
  .div-album {
    margin-left: 10px;
  }
}


