<div class="row g-0">
  <div class="col div-col" *ngFor="let item of arrayPaginado()">
    <mat-card class="card" (click)="dadosDetalhadoGaleria(item.dados)">
      <mat-card-content class="card-content">
        <span class="id-album">{{item.albumId}}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row g-0">
    <div class="col text-end">
      <mat-icon class="icone" (click)="retornaPaginacao()" [style]="this.posicao() > 0 ? '' : 'opacity: 0.5'">arrow_back_ios</mat-icon>
    </div>
    <div class="col-auto" style="margin-left: -6px;">
      <span class="texto-paginacao">{{paginacao}}</span>
    </div>
    <div class="col text-start">
      <mat-icon class="icone" (click)="avancaPaginacao()" [style]=" (this.arrayPaginado().length > 0) && (this.posicao() < this.arrayPaginado().length -1) ? '' : 'opacity: 0.5'">arrow_forward_ios</mat-icon>
    </div>
  </div>
</div>


