
.div-col {
  margin-bottom: 30px;
}

.card {
  width: 120px;
  height: 120px;
  border-radius: 50% 20%;
  border: 2px solid #0077DB;
  background: #ffffff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card:hover {
  border: 2px solid #FAAF00;
}

.card-content {
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.id-album {
  font-family: 'Caixa Bd';
  font-size: 24px;
  color: #004075;
}

.icone {
  color: #262f3b;
  font-size: 34px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.texto-paginacao {
  font-family: 'Caixa regular';
  font-size: 13px;
  color: #3a4859;
}





