<div class="row g-0">
  <div class="col" *ngFor="let item of arrayPaginado()">
    <!-- <img class="img" height="100px" [src]="urlFoto"> -->
    <mat-card class="card" (click)="dadosDetalhadoGaleria(item.dados)">
      <mat-card-content class="card-content">
        <span>{{item.albumId}}</span>
      </mat-card-content>
    </mat-card>
    <!-- <app-album-detalhado></app-album-detalhado> -->
    <!-- <div *ngFor="let teste of item.dados">
      <span>{{teste.id}}</span>

    </div> -->
  </div>
  <span (click)="avancaPaginacao()">avança</span>
  <span (click)="retornaPaginacao()">retorna</span>

</div>



